.gradient1 {
    background-image: linear-gradient(to right, rgba(109,196,255,1), rgba(96,239,234,1), rgba(143,255,210,1), rgba(129,255,155,1));
}
.gradient2 {
    background-image: linear-gradient(to right, rgba(239,73,62,1), rgba(239,135,92,1), rgba(239,185,99,1), rgba(239,224,104,1));
}
.gradient3 {
    background-image: linear-gradient(to right, rgba(49,57,239,0.85), rgba(58,58,239,0.85), rgba(163,125,239,0.91), rgba(239,145,214,0.91), rgba(239,147,174,0.91), rgba(239,92,98,0.91));
}
.sub-card {
    position: relative;
    height: 100px; width: 400px;
    border-radius: 15px;
}

.sub-card:hover {
    cursor: pointer;
}

.sub-card-active {
    border: 2px solid blue;
}

.sub-card-in {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 65%;
    margin: auto;
    color: white;
}
